html {
    width:100%;
    background-color: rgba(0,0,0,0.025);
    height: 90vh;
}

body {
    width: 100%;
    height: 90vh;
}

#equals {
    border-width: .03125em;
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    opacity: .75;
    padding: 0 .25em;
    font-size: 2rem;
    height: 100%;
    line-height: 1;
    position: relative;
    transform: none;
    padding-bottom: 4.5vh;
}

#content {
    text-align: center;
}

#sub {
    width:100vw;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height:100vh;
}

#focus {
    position: relative;
    vertical-align: middle;
    border-radius: .125em;
    max-height: 200px;
    height: 10%;
}

#input {
    vertical-align:middle;
    padding: 0,0,0,0;
    display: inline;
    align-items: center;
    box-sizing: border-box;
}

#output {
    padding: 0,0,0,0;
    vertical-align:middle;
    display:inline;
    box-sizing: border-box;
}

#logo {
    display:inline;
    padding-left:3vw;
    padding-top:1vh;
    padding-bottom:1vh;
    height:8vh;
    width:8vh;
    float: left;
    clear: both;
    position:absolute;
    max-height:100%;
    max-width:100%;
    z-index: 51
}

#help {
    display: inline;
    padding-right: 3vw;
    margin-top: 1vh;
    padding-bottom: 1vh;
    height: 8vh;
    width: 8vh;
    float: right;
    position: absolute;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    z-index: 50;
}

#rightseginput, #rightsegoutput {
    text-decoration: none;
    border-radius: 0 .25em .25em 0;
    border-width: 1px;
    border-style: solid;
    border-color:#cccccc;
    margin-left: 0.75%;
    display: inline-flex;
    align-items: center;
    padding-right: 2%;
    padding-left: 2%;
    font-family: "Open Sans";
    font-size: 300%;
    height: 1.5em;
    line-height: 1.5;
    font-weight: 100;
    background-color: #f4f4f4;
    outline: 0 !important;
    box-shadow: none;
}

#leftseginput, #leftsegoutput {
    text-decoration: none;
    border-radius: .25em 0 0 .25em;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5%;
    font-family: 'Open Sans';
    font-size: 300%;
    height: 1.5em;
    line-height: 1.5;
    font-weight: 300;
    background-color: #f4f4f4;
    outline: 0 !important;
    box-shadow: none;
    min-width: 12.5%;
}

#leftsegoutput {
    font-family: 'Lato', sans-serif;
}

#title {
    font-size:24px;
    transform: translateX(-8vh);
    display: inline-block;
}

.arrow {
    border-color: #000 transparent transparent;
    border-style: solid;
    border-width: .125em .09375em 0;
    display: inline-block;
    margin: 0 0 .125em .125em;
    opacity: .625;
    vertical-align: middle;
}

.header {
    color: #000;
    width: 100vw;
    height: 10vh;
    -webkit-box-shadow: 0 4px 2px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 4px 2px -2px rgba(0,0,0,0.25);
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.25);
    vertical-align: middle;
    font-family: "Open Sans";
    position: absolute;
}

@media screen and (max-width: 850px) {
    #input {
        display: block;
        margin-bottom: 1rem;
    }
    
    #output {
        display: block;
        margin-top: 1rem;
    }
    
    #equals {
        display: block;
        margin: 1rem auto;
    }
    
    #focus {
        transform: translateY(0);
    }
}

@media screen and (max-width: 650px) {
    #logo {
        display: none !important;
    }
    
    #title {
        transform: translateX(0);
    }
}