html {
    width:100%;
    background-color: rgba(0,0,0,0.025);
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

#equals {
    border-width: .03125em;
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    opacity: .75;
    padding: 0 .25em;
    font-size: 2rem;
}

#content {
    text-align: center;
}

#sub {
    width:100vw;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height:100vh;
}

#focus {
    position: relative;
    vertical-align: middle;
    border-radius: .125em;
    max-height: 200px;
    height: 5%;
}

#input {
    vertical-align:middle;
    padding: 0,0,0,0;
    display: inline;
    align-items: center;
    box-sizing: border-box;
}

#output {
    padding: 0,0,0,0;
    vertical-align:middle;
    display:inline;
    box-sizing: border-box;
}

#logo {
    padding-left:3vw;
    padding-top:1vh;
    padding-bottom:1vh;
    height:8vh;
    width:8vh;
    float: left;
    clear: both;
    position:relative;
    max-height:100%;
    max-width:100%;
}

#rightseginput {
    text-decoration: none;
    border-radius: 0 .25em .25em 0;
    border-width: 1px;
    border-style: solid;
    border-color:#cccccc;
    margin-left: 0.75%;
    display: inline-block;
    padding-right: 2%;
    padding-left:2%;
    font-family: "Open Sans";
    font-size:300%;
    min-height: 35px;
    font-weight: 100;
    background-color:#f4f4f4;
    text-decoration: none;
    outline:0 !important;
    box-shadow:none;
}

#rightsegoutput {
    text-decoration: none;
    border-radius: 0 .25em .25em 0;
    border-width: 1px;
    border-style: solid;
    border-color:#cccccc;
    margin-left: 0.75%;
    display: inline-block;
    padding-right: 2%;
    padding-left:2%;
    font-family: "Open Sans";
    font-size:300%;
    min-height: 35px;
    font-weight: 100;
    background-color:#f4f4f4;
    text-decoration: none;
    outline:0 !important;
    box-shadow:none;
}

#leftseginput {
    padding:10px;
    text-decoration: none;
    border-radius: .25em 0 0 .25em;
    border-width: 1px;
    border-style: solid;
    border-color:#cccccc;
    display: inline-block;
    padding-right: 0.5%;
    padding-left:0.5%;
    font-family: "Open Sans";
    font-size:300%;
    min-height: 35px;
    font-weight: 100;
    background-color:#f4f4f4;
    text-decoration: none;
    outline:0 !important;
    box-shadow:none;
    min-width: 12.5%;
    text-align: center;
}

#leftsegoutput {
    padding:10px;
    text-decoration: none;
    border-radius: .25em 0 0 .25em;
    border-width: 1px;
    border-style: solid;
    border-color:#cccccc;
    display: inline-block;
    padding-right: 0.5%;
    padding-left:0.5%;
    font-family: "Open Sans";
    font-size:300%;
    min-height: 35px;
    font-weight: 100;
    background-color:#f4f4f4;
    text-decoration: none;
    outline:0 !important;
    box-shadow:none;
    min-width: 12.5%;
    text-align: center;
}


.header {
    color: #000;
    width: 100vw;
    height: 10%;
    -webkit-box-shadow: 0 4px 2px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 4px 2px -2px rgba(0,0,0,0.25);
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.25);
    vertical-align: middle;
    font-family: "Open Sans";
    position: absolute;
}