html {
    width:100%;
    background-color: rgba(0,0,0,0.025);
}

body {
    width: 100%;
}

#headertext {
    text-align: center;
    font-family: "Open Sans";
    position: relative;
    top: 50%;
    transform: translateY(-60%);
}

#id {
    font-size: 50px
}

#converter {
    padding-top: 45vh;
    text-align: center;
}


#equals {
    width: 6%;
    font-size:64px;
    top:0;
    right:0;
    left:0;
    bottom:0;
    float:left;
    display:inline-block;
    text-align:center;
    top: 50%;
    transform: translateY(100%);
}

.header {
    color: #000;
    height: 10%;
    -webkit-box-shadow: 0 4px 2px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 4px 2px -2px rgba(0,0,0,0.25);
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.25);
    right:0;
    left:0;
    vertical-align: middle;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.leftbox {
    width:47%;
    float:left;
    text-align:right;
    display:inline-block;
}

.rightbox {
    width:47%;
    float:left;
    text-align:left;
    display:inline-block;
}

::-webkit-input-placeholder { text-align: center; color: #000; font-size: 100px; }
::-moz-placeholder { text-align: center; color: #000; font-size: 100px; } /* firefox 19+ */
:-ms-input-placeholder { text-align: center; color: #000; font-size: 100px; } /* ie */
input:-moz-placeholder { text-align: center; color: #000; font-size: 100px; }

